*{
    box-sizing: border-box;
}
html, body {
    height: 100%;
    overflow: hidden; 
}

body{
    background-color: lightblue;
}
h1,h2, h3,.text, .botao{
    display: flex;
    justify-content: center;
}
h3{
    color: darkorchid;
}